.decoder {
    display: flex;
    flex-direction: column;
    align-items: center;

    &__input {
        width: 50%;
        margin: 1rem;
        opacity: .5;

    }

    &__form {
        
        padding-top: 2rem;
        color: white;
    }

    &__label {
        margin-right: 10rem;
    }
}

