
.header {
    display: flex;
    justify-content: center;
    background-color: #3e9aa7;
    height: 6rem;

    &__logo {
        height: 15rem;
        margin-top: -4.5rem;
        margin-left: 3rem;
    }
    
};