.vehicle {
    &__search {
        display: flex;
        flex-direction: column;
        justify-content: center;

        &--label {
            margin: 1rem;
        }
    }
}

#man {
    &__search {
        width: 10%;
        margin: .5rem 1rem;
    }
}